


//media queries - breakpoints

@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 500px)";
@tabletandmobile:    ~"only screen and (min-width: 0px) and (max-width: 999px)";
@tablet:    ~"only screen and (min-width: 750px) and (max-width: 999px)";
@desktop:     ~"only screen and (min-width: 1000px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";
@languagemobile:  ~"only screen and (max-width: 599px)";
@interm:  ~"only screen and (min-width: 600px) and (max-width: 799px)";


@my30px: 30px;

/* split banner styles */

.split_banner_image img {

  @media @tabletandmobile { width: 100%; max-width: 500px;}
}

.split_banner_image {
    @media @desktop {
      float: right;
      height: 240px;
    }
    @media @tabletandmobile { float: none; margin: 0 .5em;}
   
}

.split_banner_content_wrapper {
    height: 240px;
    float:left;
    padding: 0;
    width: 500px;
    
  h2, a, p {
  font-family: "Aller", "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: white;
  text-decoration:none;
  bottom:0;
  }
  
  @media @desktop {
  background: transparent url(images/inner-shadow.png) no-repeat;}
    
  @media @tabletandmobile {
    float: none;
    background: #4c6687;
    width:auto;
    max-width:500px;
    height: auto;
    margin: 0 .5em;
    margin-top:-3px;
    padding-top: 50px;
  }

}

.view-slideshow-split-banner a:hover { text-decoration:none; }
.view-slideshow-split-banner > div > div {  position: relative;}

.split_banner_title, .split_banner_teaser {
    @media @desktop {
    margin: 0 @my30px;
    text-shadow: 1px 1px #000;
    }
     @media @tabletandmobile {
      margin-left: @my30px/2;
     }
}
.split_banner_title { 
    @media @desktop {
    padding-top: @my30px;
    font-size: 2.4rem;
    }

  @media @tabletandmobile {
    font-size: 2rem;
    padding-top: @my30px/3;
    font-weight: 700;  
  }
}

.split_banner_teaser { 
    @media @desktop {
    padding: 1em 0px @my30px/2;
    font-size: 1.8rem;
    }
    
    @media @tabletandmobile {
    font-size: 1.5rem;
    padding-bottom: @my30px/2;
  }
}


.views-slideshow-controls-bottom {
  @media @tabletandmobile {
    position: absolute;
    z-index: 100;
    top: auto; /* overrides departments theme */
    right: auto; /* overrides departments theme */
    top: 240px; /* re-adjust the position of paging buttons */
    }
    
    @media @tablet {
      margin-left: 50%;
    }
    @media @interm {
      margin-left: 50%;
    }
  }

#widget_pager_bottom_slideshow_split_banner-block {
  @media @tabletandmobile {
  float: none;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  margin-left: -50%;
  }

}




/* colourful backgrounds */
.views-row-1 .split_banner_content_wrapper,
.views-row-5 .split_banner_content_wrapper
{
  @media @desktop { background-color: #6cace4 }
}
.views-row-2 .split_banner_content_wrapper,
.views-row-6 .split_banner_content_wrapper
{
  @media @desktop { background-color: #7a9a01 }
}
.views-row-3 .split_banner_content_wrapper,
.views-row-7 .split_banner_content_wrapper 
{ 
  @media @desktop { background-color: #a192b2 }
}
.views-row-4 .split_banner_content_wrapper,
.views-row-8 .split_banner_content_wrapper
{
  @media @desktop { background-color: #d38235 }
}

/* colourful backgrounds */

/*height repositions the title of main content to avoid gap or overlap with the banner on mobile devices*/


.front .region-secondary-content {
    @media @tabletandmobile {
      max-width:500px
      }

    .view {
    @media @tabletandmobile {
      height:340px
      }
    }
}

.views-slideshow-pager-field-item {
    @media @tabletandmobile {width: 40px;}
  }
.views-content-counter {
  @media @tabletandmobile {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    }
}

.main-content {
  @media @tabletandmobile {margin-right:0;}
  } /*departments needs 2% right margin for mobile but not this subtheme*/
