/* split banner styles */
@media only screen and (min-width: 0px) and (max-width: 999px) {
  .split_banner_image img {
    width: 100%;
    max-width: 500px;
  }
}
@media only screen and (min-width: 1000px) {
  .split_banner_image {
    float: right;
    height: 240px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 999px) {
  .split_banner_image {
    float: none;
    margin: 0 .5em;
  }
}
.split_banner_content_wrapper {
  height: 240px;
  float: left;
  padding: 0;
  width: 500px;
}
.split_banner_content_wrapper h2,
.split_banner_content_wrapper a,
.split_banner_content_wrapper p {
  font-family: "Aller", "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  bottom: 0;
}
@media only screen and (min-width: 1000px) {
  .split_banner_content_wrapper {
    background: transparent url(images/inner-shadow.png) no-repeat;
  }
}
@media only screen and (min-width: 0px) and (max-width: 999px) {
  .split_banner_content_wrapper {
    float: none;
    background: #4c6687;
    width: auto;
    max-width: 500px;
    height: auto;
    margin: 0 .5em;
    margin-top: -3px;
    padding-top: 50px;
  }
}
.view-slideshow-split-banner a:hover {
  text-decoration: none;
}
.view-slideshow-split-banner > div > div {
  position: relative;
}
@media only screen and (min-width: 1000px) {
  .split_banner_title,
  .split_banner_teaser {
    margin: 0 30px;
    text-shadow: 1px 1px #000;
  }
}
@media only screen and (min-width: 0px) and (max-width: 999px) {
  .split_banner_title,
  .split_banner_teaser {
    margin-left: 15px;
  }
}
@media only screen and (min-width: 1000px) {
  .split_banner_title {
    padding-top: 30px;
    font-size: 2.4rem;
  }
}
@media only screen and (min-width: 0px) and (max-width: 999px) {
  .split_banner_title {
    font-size: 2rem;
    padding-top: 10px;
    font-weight: 700;
  }
}
@media only screen and (min-width: 1000px) {
  .split_banner_teaser {
    padding: 1em 0px 15px;
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 0px) and (max-width: 999px) {
  .split_banner_teaser {
    font-size: 1.5rem;
    padding-bottom: 15px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 999px) {
  .views-slideshow-controls-bottom {
    position: absolute;
    z-index: 100;
    top: auto;
    /* overrides departments theme */
    right: auto;
    /* overrides departments theme */
    top: 240px;
    /* re-adjust the position of paging buttons */
  }
}
@media only screen and (min-width: 750px) and (max-width: 999px) {
  .views-slideshow-controls-bottom {
    margin-left: 50%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 799px) {
  .views-slideshow-controls-bottom {
    margin-left: 50%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 999px) {
  #widget_pager_bottom_slideshow_split_banner-block {
    float: none;
    margin-top: 10px;
    display: inline-block;
    position: relative;
    margin-left: -50%;
  }
}
/* colourful backgrounds */
@media only screen and (min-width: 1000px) {
  .views-row-1 .split_banner_content_wrapper,
  .views-row-5 .split_banner_content_wrapper {
    background-color: #6cace4;
  }
}
@media only screen and (min-width: 1000px) {
  .views-row-2 .split_banner_content_wrapper,
  .views-row-6 .split_banner_content_wrapper {
    background-color: #7a9a01;
  }
}
@media only screen and (min-width: 1000px) {
  .views-row-3 .split_banner_content_wrapper,
  .views-row-7 .split_banner_content_wrapper {
    background-color: #a192b2;
  }
}
@media only screen and (min-width: 1000px) {
  .views-row-4 .split_banner_content_wrapper,
  .views-row-8 .split_banner_content_wrapper {
    background-color: #d38235;
  }
}
/* colourful backgrounds */
/*height repositions the title of main content to avoid gap or overlap with the banner on mobile devices*/
@media only screen and (min-width: 0px) and (max-width: 999px) {
  .front .region-secondary-content {
    max-width: 500px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 999px) {
  .front .region-secondary-content .view {
    height: 340px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 999px) {
  .views-slideshow-pager-field-item {
    width: 40px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 999px) {
  .views-content-counter {
    height: 30px;
    width: 30px;
    border-radius: 30px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 999px) {
  .main-content {
    margin-right: 0;
  }
}
/*departments needs 2% right margin for mobile but not this subtheme*/
