


//media queries - breakpoints

@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 500px)";
@tabletandmobile:    ~"only screen and (min-width: 0px) and (max-width: 999px)";
@tablet:    ~"only screen and (min-width: 750px) and (max-width: 999px)";
@desktop:     ~"only screen and (min-width: 1000px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";
@languagemobile:  ~"only screen and (max-width: 599px)";

@my30px: 30px;

/* split banner styles */

.split_banner_image img {

  @media @mobile { width: 100%}
}

.split_banner_image {
    @media @desktop {
      float: right;
      height: 240px;
    }
    @media @tabletandmobile { float: none; margin: 0 .5em;}
   
}

.split_banner_content_wrapper {
    height: 240px;
    float:left;
    padding: 0;
    width: 500px;
  
  h2, a, p {
  font-family: "Aller", "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: white;
  text-decoration:none;
  bottom:0;
  }
  
  @media @desktop {
  background: transparent url(images/inner-shadow.png) no-repeat;}
    
  @media @tabletandmobile {
    float: none;
    background: #4c6687;
    width:auto;
    max-width:500px;
    height: auto;
    margin: 0 .5em;
    margin-top:-3px;
  }

}

.view-slideshow-split-banner a:hover { text-decoration:none; }
.view-slideshow-split-banner > div > div {  position: relative;}

.split_banner_title, .split_banner_teaser {
    @media @desktop {
    margin: 0 @my30px;
    text-shadow: 1px 1px #000;
    }
     @media @tabletandmobile {
      margin-left: @my30px/2;
     }
}
.split_banner_title { 
    @media @desktop {
    padding-top: @my30px;
    font-size: 2.4rem;
    }

  @media @tabletandmobile {
    font-size: 2rem;
    padding-top: @my30px/3;
    font-weight: 700;  
  }
}

.split_banner_teaser { 
    @media @desktop {
    padding: 1em 0px @my30px/2;
    font-size: 1.8rem;
    }
    
    @media @tabletandmobile {
    font-size: 1.5rem;
    padding-bottom: @my30px/2;
  }
}

.split-banner-block .views-slideshow-controls-bottom {
    @media @tabletandmobile {
    position: absolute;
    z-index: 100;
    top: 210px;
    left: 25px;
    }

    @media @mobile {top: 140px}
}




/* colourful backgrounds */
#views_slideshow_cycle_div_slideshow_split_banner-block_0,
#views_slideshow_cycle_div_slideshow_split_banner-block_1_0 {
  @media @desktop { background-color: #6cace4 }
}
#views_slideshow_cycle_div_slideshow_split_banner-block_1 .split_banner_content_wrapper,
#views_slideshow_cycle_div_slideshow_split_banner-block_1_1 .split_banner_content_wrapper{
  @media @desktop { background-color: #7a9a01 }
}
#views_slideshow_cycle_div_slideshow_split_banner-block_2 .split_banner_content_wrapper,
#views_slideshow_cycle_div_slideshow_split_banner-block_1_2 .split_banner_content_wrapper{
  @media @desktop { background-color: #a192b2 }
}
#views_slideshow_cycle_div_slideshow_split_banner-block_3 .split_banner_content_wrapper,
#views_slideshow_cycle_div_slideshow_split_banner-block_1_3 .split_banner_content_wrapper{
  @media @desktop { background-color: #d38235 }
}
#views_slideshow_cycle_div_slideshow_split_banner-block_4 .split_banner_content_wrapper,
#views_slideshow_cycle_div_slideshow_split_banner-block_1_4 .split_banner_content_wrapper{
  @media @desktop { background-color: #6cace4 }
}
#views_slideshow_cycle_div_slideshow_split_banner-block_5 .split_banner_content_wrapper,
#views_slideshow_cycle_div_slideshow_split_banner-block_1_5 .split_banner_content_wrapper{
  @media @desktop { background-color: #7a9a01 }
}
#views_slideshow_cycle_div_slideshow_split_banner-block_6 .split_banner_content_wrapper,
#views_slideshow_cycle_div_slideshow_split_banner-block_1_6 .split_banner_content_wrapper{
  @media @desktop { background-color: #a192b2 }
}
#views_slideshow_cycle_div_slideshow_split_banner-block_7 .split_banner_content_wrapper,
#views_slideshow_cycle_div_slideshow_split_banner-block_1_7 .split_banner_content_wrapper{
  @media @desktop { background-color: #d38235 }
}
/* colourful backgrounds */
